# &nbsp;1. If/Else statements

> **_WARNING, VERY BAD JOKE!_**    
Once, a programmer's wife sent her husband to a grocery store to buy a loaf of bread.   
On his way out, his wife said, “Buy a loaf of bread. If they have eggs, get a dozen.”  
An hour later, the husband returned home with 12 loaves of bread. The wife got angry and asked, “Why did you get 12 loaves of bread?”.  
He replied, “Because they had eggs.”

Did you understand this bad joke? No? No worries, after you have learned about If and Else statements, you will understand it and realise that it's still not funny. :)

### 1.1 Is equal to

We will start with a simple question: **Is `x` equal to 2?**

To ask if something is equal in Python, we use `==`.

In [ ]:
# Assigning the value.
x = 2
x

In [ ]:
# Asking if it is equal to 2.
x == 2

In [ ]:
# Asking if it is equal to 3.
x == 3

### 1.2 If statement with a condition

Let's put the question (i.e. the condition) inside an `if` statement.

In [ ]:
# Assign a value to a variable.
x = 2
# Ask if condition is true.
if x == 2:
    # This will only be executed if the condition is true.
    print("x is indeed 2")

Let's see what happens if the condition is not True (i.e. if it is False).

In [ ]:
x = 3
if x == 2:
    print("x is indeed 2")

Nothing happened because the condition was False. So the code inside the `if` statement is not True (False).

### 1.3 Indentation

Indentation refers to the spaces at the beginning of a code line. Python uses indentation to indicate a block of code.  
When we make an `if` statement, everything we want to be executed "inside" of it has to be indented from the statement.

In [ ]:
if 5 > 2:
  print("Five is greater than two!") # the empty space in front of the print() function is an indent.

### 1.4 Else statement

What if we also want something to happen when the condision is False?  
In those cases, we use the `else` statement. Everything inside the `else` statement will happen if the condition in the preceding `if` statement is not True.

In [ ]:
x = 3

if x == 2:
    print("x is indeed 2")
else:
    print("x is not 2")

### 1.5 Other logical conditions

You can question many other conditions in an `if` statement as long as these conditions give a result of True or False such as `>` (greater than).

In [ ]:
x = 3
y = 5

if x > y:
    print("x is higher than y")
else:
    print("x is lower or equal to y")

In [ ]:
list_1 = ["kitty","puppy"]

if list_1.count("lamb") > 0:
    print("list_1 contains the element 'lamb'")
else:
    list_1.append("lamb")
    print("list_1 didn't contain the element 'lamb', so we added it")
    print(list_1)

Python supports the usual logical conditions from mathematics:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

### 1.6 Elif statement

Sometimes, we want to try multiple conditions and perform different actions for each.  
It is like saying "if the previous conditions are not true, try this one".

For that, we use the `elif` statement.

In [ ]:
x = "green"

if x == "blue":
    print("x is blue")
elif x == "red":
    print("x is red")
elif x == "green":
    print("x is green")
else:
    print("x is neither blue, red or green")

### 1.7 AND and OR

One `if` statement can have multiple conditions chained with special keywords like `AND` or `OR`.

In [ ]:
x = 2
y = 3

if x == 2 and y==3:
    print("Both statements are True.")

This table shows the expected outcomes of conditions chained with `AND`.

| **AND**   | **True** | **False** |
|-----------|----------|-----------|
| **True**  | True     | False     |
| **False** | False    | False     |

In [ ]:
x = 2
y = 3

if x > 5 or y==3:
    print("One or both of the statements are True.")

This table shows the expected outcomes of conditions chained with `OR`.

| **OR**    | **True** | **False** |
|-----------|----------|-----------|
| **True**  | True     | True      |
| **False** | True     | False     |

### 1.8 input() function

One extra thing that might come in handy is the input from a user.  
Sometimes, we want to ask a user to input some information and use it later in our code.  
For this, we use the `input()` function.

In [ ]:
print("Choose a number from 1-100 and hit ENTER.")

x = input()

print(f"You have chosen the number: {x}")

This might seem familiar if you've ever installed something using the command line.

In [ ]:
print("Do you want to proceed? [y/n]")

x = input()

if x == "y":
    print("proceeding with the execution")
elif x == "n":
    print("not proceeding with the execution")
else:
    print("you are only allowed to enter y or n")

## Exercises

### Exercise 1

Print "condition is true" if x is greater than or equal to y.

In [ ]:
x = 3
y = 1

In [ ]:
# Kristina
if x>=y:
  print("condition is true")

condition is true

##### Hint

In [ ]:
# _____(x ___ y):
#     print("True")

### Exercise 2

Print "x is not equal to y" if x is not equal to y,  
print "x is equal to y" if x is equal to y.

In [ ]:
x=5
y=5

In [ ]:
# Olaf
if x != y:
  print('x is not equal to y')
if x == y:
  print ('x is equal to y')

x is equal to y

In [ ]:
# Mohamed
if x != y:
  print('x is not equal to y')
else:
  print('x is equal to y')

x is equal to y

##### Hint

In [ ]:
# if(x __ y):
#     print("x is not equal to y")
# else:
#     print("x is equal to y")

### Exercise 3

Write an `if` statement that asks for the user's name using the `input()` function.  
If the name is "Bond", make it print "Welcome on board 007."  
Otherwise, make it print "Good morning NAME". (Replace NAME with the user's name).

In [ ]:
# Arne
print("Good Morning. What is your name?")

x = input()

if x == "Bond":
  print("Welcome on board, 007")
else:
  print(f"Nice to have you, {x}")

Good Morning. What is your name?
Bond
Welcome on board, 007

In [ ]:
# Kalpana
print("Enter your name")
name=input()
if(name=="Bond"):
  print("Welcome on board 007.")
else:
  print(f"Good morning {name}.")

Enter your name
Band
Good morning Band.

##### Hint

In [ ]:
# name = _____()
# if name _____ "Bond":
#     "Welcome on board 007"
# else:
#     print(f"Good morning _____")

### Exercise 4

Print the results of the following:
 - If x is greater than y, subtract x from y.
 - If x is smaller than y, add x to y.
 - If x is equal to y, multiply x by y.

In [ ]:
x=3
y=3

In [ ]:
# Gözde
if x > y:
  print(x - y)
elif x < y:
  print(y + x)
else:
  print(y * x)

9

##### Hint

In [ ]:
# _____ x > y:
#     print(x - y)
# elif x _____ y:
#     print(y + x)
# _____
#     print(y * x)

### Exercise 5

Use if statements to find which value is the biggest one and print "The biggest value is VALUE.".
BONUS: Check out the solution with nested statements.

In [ ]:
x=43
y=45
z=34

In [ ]:
# Zishan & Maath
if x>=y and x>=z:
    print(f"The biggest value is {x}")
elif y>=x and y>=z:
    print(f"The biggest value is {y}")
else:
    print(f"The biggest value is {z}")

The biggest value is 45

In [ ]:
if x>y:
  if x>z:
    print(f"The biggest value is {x}")
  else:
    print(f"The biggest value is {z}")
else:
  if y>z:
    print(f"The biggest value is {y}")
  else:
    print(f"The biggest value is {z}")

The biggest value is 45

In [ ]:
# Kalpana
if(x>y and x>z):
  value=x
  print(f"The biggest value is {value}.")
elif(y>z):
  value=y
  print(f"The biggest value is {value}.")
else:
  value=z
  print(f"The biggest value is {value}.")

The biggest value is 45.

##### Hint

In [ ]:
# if _____ >= y _____ x >= z:
#     print(f"The biggest value is {x}")
# _____ y >= x and _____ >= z:
#     print(f"The biggest value is {_____}")
# else:
#     print(f"The biggest value is {z}")

In [ ]:
# This looks like it could/should work, but it will not
# We want x to be compared to both y and z
# Running the code will evaluate the terms inside the bracket (e.g. "y and z")
# Depending on the truth value of these objects, "y and z" will return either y or z,
# which in turn will be compared to x
# For more information, look here: https://realpython.com/python-and-operator/
if x >= (y and z):
  print(f"The biggest value is {x}.")
elif y >= (x and z):
  print(f"The biggest value is {y}.")
else:
  print(f"The biggest value is {z}.")

The biggest value is 43.